@font-face {
  font-family: 'Ilicitan Airlines';
  src: url('/sources/fonts/Ilicitan-Airlines-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ilicitan Airlines';
  src: url('/sources/fonts/Ilicitan-Airlines-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
